<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyingpig.cloudmusic.mapper.MusicMapper" >

    <select id="selectRankList" resultType="com.flyingpig.cloudmusic.dataobject.dto.MusicInfoInRankList">
        SELECT * FROM music ORDER BY (like_num*1 + collect_num*2) DESC LIMIT 50;
    </select>

</mapper>